<%- include("partials/header.ejs")%>
    <div class="container">
        <h2 class="title">delete to do </h2>
        <a href="/" class="btn">back</a>
        <div class="confime">
            <p>are you sure you want to delete</p>
            <a href="/confirme/<%=id%>" class="btn">yes</a>
            <a href="/" class="btn">no</a>
        </div>
    </div>
</body>
</html>